[Desktop Entry]
Version=1.0
Type=Application

Name=bigscraper-qt
Comment=LaunchBox Scraping Tool
Categories=Utility;Qt;

Icon=io.github.fr75s.bigscraperqt
Exec=io.github.fr75s.bigscraperqt
Terminal=false
